.card {
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.18);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
  margin: 10px;
  padding: 10px;
  text-align: center;

  & p, & h3, & h4 {
    margin: 1em 0;
  }
}