$darkCyan: rgb(36, 65, 73);
$lightGreen: rgb(32, 196, 124);
$darkGreen: rgb(0, 117, 61);

$black25: rgba(0, 0, 0, 0.25);
$grey18: rgba(255, 255, 255, 0.18);
$grey30: rgba(255, 255, 255, 0.3);
$lightGreen30: rgba(32, 196, 124, 0.3);
$lightOlive43: rgba(207, 224, 195, 0.427);