.app {
  .appBody {
    background-attachment: fixed;
    background-image: url("../../public/yosemite.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    min-height: 100vh;
    padding: 20px 20px 0 20px;

    .cityName {
      margin-top: 0;
      text-align: center;
    }
  }
}

@media only screen and (max-width: 600px) {
  .app {
    .appBody {
      padding: 20px 0;
    }
  }
}
