.App-logo
{
    max-width: 100px;
}

.App-header, .currentWeather {
    display: inline-block;
}

ul.weeklyWeather, ul.todayWeather
{
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: space-between;
}

li.weekDay.dailyWeather, .currentWeather
{
    background-color: rgba(1,1,1,0.2);
    text-align: center;
}

.weekDay-desc
{
    font-size: small;
}