body {
    margin: 0;
}

.App-header {
    width: 100%;
    max-width: 100vw;
    border-bottom: 2px solid grey;
    background: linear-gradient(to right, #1F363D, #40798C, #70A9A1, #CFE0C3, #CFE0C3);
}

.App-header-content {
    padding: 10px;
}

.App-header h1 {
    color: white;
    text-shadow: 1px 1px #1F363D;
    height: 81px;
}

.logo-search {
    max-height: 40px;
    display: flex;
    flex-wrap: nowrap;
}

.header-pad {
    padding: 0 15px 0 5px;
}

.App-logo {
    max-width: 40px;
    -webkit-filter : hue-rotate(40deg);
    filter : hue-rotate(40deg);
    border: 1px solid #cfe0c36d;
    border-radius: 100%;
}

.App-title {
    margin: auto 5px;
}

.searchbar input {
    border: 1px solid black;
}

.searchbar {
    display: contents;
}

.navbar, .navbar a {
    color: #CFE0C3;
    text-shadow: 1px 1px #1F363D;
}

.navbar a:hover {
    color: white;
}

.navbar a.active {
    color: #9EC1A3;
}

.navbar a.active:hover {
    color: #70A9A1;
}

.navbar a:active, .navbar a.active:active {
    color: #1F363D;
}

.App-body {
    padding: 20px 20px 0 20px;
    height: 100vh;
    background-image: url("../../public/yosemite.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

ul.weeklyWeather, ul.todayWeather, .currentWeather {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 0;
}

li.weekDay.dailyWeather, .currentWeather, .todayWeather li {
    backdrop-filter: blur(20px);
    background-color: rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.3);
    text-align: center;
    border-radius: 30px;
    padding: 10px;
}

.currentWeather, ul.weeklyWeather {
    margin: 0 10px;
}

.currentWeather {
    display: inline-block;
}

ul.todayWeather {
    white-space: nowrap;
    overflow-x: scroll;
    margin: -10px 0;
}

.todayWeather li {
    margin: 10px;
    display: inline;
    overflow-y: visible;
}

.weekDay-desc {
    font-size: small;
}

.currentWeather h3, .currentWeather p, .todayWeather p, .weekDay h4, .weekDay p {
    margin: 1em 0;
}